div {
  .listings {
    height: 6rem;
    width: 50rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 1.5rem;
    background: white;
    border: 0.1rem solid skyblue;
    border-radius: 0.2rem;
    padding: 5rem;
    box-shadow: 4px 2px 0 rgba(168, 168, 168, 0.4);
    .jobtitle {
      font-size: 1.5rem;
    }
    .company {
      align-self: flex-start;
      font-size: 1.3rem;
    }
    .city-state {
      font-size: 1rem;
      align-self: flex-start;
      font-weight: 400;
      color: rgba(255, 47, 47, 0.767);
    }
    .description {
      font-size: 0.8rem;
      align-self: center;
    }
    .apply-box {
      align-self: flex-end;
    }
    .languages {
      font-size: 1rem;
      align-self: flex-end;
      margin-left: 20px;
    }
    .apply-button {
      height: 3rem;
      width: 7rem;
      color: white;
      background: skyblue;
      margin: 1rem;
      cursor: pointer;
      text-transform: capitalize;
      border: transparent;
      border-radius: 8px;
      align-self: flex-end;
      outline: none;
    }
    .apply-button:hover {
      background: rgba(85, 125, 255, 0.808);
      transition: all 0.5s ease-in;
    }
  }
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 10px;
}
.search-bar {
  background: transparent;
  width: 14rem;
  height: 2rem;
  border-bottom: 2px solid skyblue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: 1.5rem;
  margin-left: 4rem;
  outline: none;
}
