div {
  .listings {
    height: 5rem;
    width: 40rem;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
    background: var(--mainWhite);
    flex-wrap: wrap;
    border: 0.1rem solid skyblue;
    border-radius: 0.2rem;
    padding: 5rem;
    box-shadow: 4px 2px 0 rgba(168, 168, 168, 0.4);
    .company {
      align-self: flex-start;
      font-size: 1.5rem;
    }
    .city-state {
      font-size: 1rem;
      align-self: flex-start;
      font-weight: 400;
      color: rgba(255, 47, 47, 0.767);
    }
    .description {
      height: 70%;
      width: 20%;
      margin: 10px;
      font-size: 0.8rem;
      align-self: baseline;
      flex-wrap: wrap;
    }
    .apply-box {
      align-self: flex-end;
    }
    .languages {
      font-size: 1rem;
      align-self: flex-end;
      margin-left: 20px;
    }
    .apply-button {
      height: 2rem;
      width: 8rem;
      color: white;
      background: skyblue;
      cursor: pointer;
      text-transform: capitalize;
      border: transparent;
      border-radius: 8px;
    }
  }
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 10px;
}
.search-bar {
  background: transparent;
  width: 14rem;
  height: 2rem;
  border-bottom: 2px solid skyblue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: 1.5rem;
  margin-left: 4rem;
  outline: none;
}
