div {
	.listings {
		// align-items: center;
		// justify-content: center;
		// margin: 0 auto;
		// display: flex;
		// background-color: gray;
		// width: fit-content;
		// padding: 20px;
		// border-radius: 10%;
		height: 20rem;
		width: 20rem;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 20px;
		background: var(--mainWhite);
		flex-wrap: wrap;
		border: 0.2rem solid lightgrey;
		border-radius: 0.5rem;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
	}
}
.list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	bottom: 10px;
}
