header {
  height: 60px;
  background: #4d4d4d;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.logo {
  color: skyblue;
}
header > div {
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: #4d4d4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
}

li {
  text-decoration: none;
}
header nav ul {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}

header > div button {
  display: none;
}
@media screen and (max-width: 700px) {
  header nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #4d4d4d;
    min-height: 100vh;
    transform: translate(300px, 0);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .show {
    transform: translate(0, 0);
  }

  header nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    padding-top: 90px;
    min-width: 300px;
  }

  header > div button {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 50px;
    background: skyblue;
    color: white;
    z-index: 2;
    display: initial;
  }
}
