.container {
  .navbar {
    max-width: 100vw;
    width: 100%;
    height: 30px;
    background: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 2px solid skyblue;
    .logo {
      color: skyblue;
      font-size: 1.5rem;
      text-decoration: none;
    }
    .button-container {
      margin: 5rem;
      .employer-button {
        text-transform: capitalize;
        font-size: 1rem;
        background: transparent;
        border: transparent;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
      .job-button {
        text-transform: capitalize;
        font-size: 1rem;
        background: transparent;
        border: transparent;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
      .employer-profile {
        text-transform: capitalize;
        font-size: 1rem;
        background: transparent;
        border: transparent;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
