form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 2rem;
  border: 0.1rem solid black;
}
input {
  background: blue;
  color: white;
}
